:root {
    --gray-100: #EDEDED;
    --gray-200: #D2D2D2;
    --gray-300: #858585;
    --gray-400: #252525;
    --gray-copy: #424242;
    --main-accent: #E43071;
    --main-accent-light: #FFC1D8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 4.375rem;
}

h2 {
    font-size: 3.75rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h1, h2, h4 {
    font-weight: 700;
}

h3, h5 {
    font-weight: 600;
}

p {
    font-size: 1rem;
    line-height: 225%;
    color: var(--gray-copy);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1128px;
    padding: 0 16px;
    margin: 0 auto;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

a.cta-button {
    color: white;
    background-color: var(--main-accent);
    padding: 16px 56px;
    line-height: 36px;
    border-radius: 200px;
    font-weight: 600;
}

a.cta-button.white-bg {
    color: var(--main-accent);
    background-color: white;
    border: 2px solid var(--main-accent);
}

/* HEADER START */

header {
    height: 100px;
    background-color: var(--main-accent);
    display: flex;
    align-items: center;
}

nav {
    padding-left: 36px;
    padding-right: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 76px;
}

nav a, nav ul li {
    color: white;
}

nav a.logo {
    font-size: 2.5rem;
    font-weight: 800;
}

nav .logo span {
    color: var(--main-accent-light);
}

nav ul li a.search {
    display: flex;
    align-items: center;
    gap: 6px;
}

nav .search img {
    max-width: 20px;
}

nav a.login {
    color: var(--main-accent);
    background-color: white;
    padding: 16px 62px;
    border-radius: 200px;
}

.menu-items {
    display: flex;
    align-items: center;
    gap: 36px;
}

/* HEADER END */

/* HERO START */

section.hero-block {
    height: 100%;
    max-height: 720px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.hero-block h1 {
    margin: 240px auto 40px;
    max-width: 780px;
    text-align: center;
    color: white;
    line-height: 110%;
    z-index: 5;
}

.hero-block h1 span {
    color: var(--main-accent-light);
}

.hero-block a.cta-button {
    margin-bottom: 218px;
    z-index: 5;
}

.hero-block .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/hero-1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.hero-block .swiper-slide:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2D2824;
    opacity: 0.2;
    z-index: 2;
}

.hero-block .swiper-slide:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(img/hero-mask.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
    background-size: 100%;
    bottom: -1px;
    z-index: 5;
}

/* HERO END */

/* SWIPER SLIDER START */

section .swiper {
    width: 100%;
    height: 100%;
}

section .swiper .swiper-pagination-bullets {
    display: flex;
    align-items: center;
    justify-content: center;
}

section .swiper .swiper-pagination-bullet {
    background: #fff;
    width: 12px;
    height: 12px;
    opacity: 1;
}

section .swiper .swiper-pagination-bullet-active {
    background: var(--main-accent);
    width: 17px;
    height: 17px;
}

section .swiper .swiper-pagination {
    margin-bottom: 36px;
    z-index: 5;
}

/* SWIPER SLIDER END */

/* BENEFIT START */

section.benefit-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.benefit-block .benefit-images, .benefit-block .benefit-content {
    max-width: 50%;
}

.benefit-block .benefit-images {
    max-height: 504px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.benefit-block .back-image {
    max-width: 347px;
    grid-column: 1 / 5;
}

.benefit-block .front-image {
    max-width: 240px;
    grid-column: 3 / -1;
    align-self: last baseline;
    justify-self: right;
    margin-top: 144px;
}

.benefit-block .back-image, .benefit-block .front-image {
    grid-row: 1 / 2;
}

.benefit-block h4 {
    color: var(--main-accent);
    margin-bottom: 6px;
}

.benefit-block .benefit-content p {
    margin-bottom: 26px;
}

#new-body {
    margin-top: 94px;
    margin-bottom: 122px;
}

#new-body .benefit-images {
    max-width: 440px;
}

/* BENEFIT END */

/* SECONDARY SLIDER BLOCK START */

.secondary-slider-block {
    max-height: 700px;
    height: 100%;
}

/* SECONDARY SLIDER BLOCK END */